
html {
  height: 100vh;
  width: 100%;
}

body {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: 0;
  height: 100vh;
  width: 100%;
}

/* REMOVE DEFAULT BUTTON STYLES */
button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:hover {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

.hidden {
  display: none;
}

/* BUTTON STYLES */

.button {
  padding: 9px;
  margin-top: 10px;
  font-size: 16px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button:hover {
  border-bottom: 2px solid #3cb371;
}

.button:active {
  border-bottom: 2px solid #3cb371;
}

.button:focus {
  border-bottom: 2px solid #3cb371;
}

/* NAV BAR */
.nav-bar {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 3px solid #f0f0f0;
  background: white;
  position: sticky;
  top: 0;
  width: 100%;
  height: 85px;
}

.greeting-header {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  padding: 10px;
}

.welcome-icon {
  height: 77px;
  margin-left: 50px;
}

.user-greeting {
  padding: 20px;
  font-size: 24px;
  color: #3cb371;
}
.nav-buttons {
  padding: 20px;
  align-items: center;
}

.my-favorites,
.recipes-to-cook {
  font-size: 16px;
  margin: 10px 20px;
  outline: none;
  background-color: transparent;
  border: none;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.recipes-to-cook:hover,
.my-favorites:hover {
  border-bottom: 2px solid #3cb371;
  cursor: pointer;
}

/* HEADER */

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px 20px 0px;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 3px;
  margin: 0px;
}

h2 {
  font-size: 24px;
  font-style: italic;
  margin: 0px;
}

/* MAIN */

.main-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.all-recipes {
  overflow-y: scroll;
  margin: 0px 40px 70px 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 1fr) 1rem minmax(200px, 1fr) 1rem
    minmax(200px, 1fr) 1rem minmax(200px, 1fr);
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 1rem;
}

/* RECIPE CARD */

.recipe-card {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 240px;
  margin: 30px;
}

.recipe-card-bottom {
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
  min-height: 72px;
}

.recipe-img {
  height: 200px;
  position: relative;
}

.add-to-cook-icon,
.favorite-icon {
  height: 40px;
}

.favorite-icon:hover,
.add-to-cook-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.view-recipe-text {
  margin: 0px 0px 5px 0px;
  height: 60px;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.active {
  background-image: url(https://img.icons8.com/fluent/48/000000/hearts.png);
  height: 48px;
}

/* RECIPE MODAL */

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  display: flex;
  align-items: center;
  display: none;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 80%;
  overflow-y: scroll;
  box-shadow: 0px 7px 29px 0px black;
}

.x-icon {
  height: 40px;
  width: 40px;
}

.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 30px;
  font-size: 32px;
}

.modal-img {
  object-fit: cover;
  height: 200px;
  box-shadow: 6px 5px 9px lightgray;
}

.modal-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid lightgray;
}

.modal-ingredients {
  display: flex;
  flex-direction: row;
}

.ingredient-header,
.cost-header,
.instructions-header {
  margin: 20px;
}

.modal-cost {
  display: flex;
}

.modal-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-to-cook,
.favorite-heart {
  padding: 10px;
}
/* ASIDE */

.filter-by-tag {
  font-style: italic;
  font-size: 18px
}

.filter-section {
  border-left: 3px solid #3cb371;
  display: flex;
  flex-direction: column;
  width: 275px;
  height: 680px;
  padding: 25px;
}

.recipe-tag {
  color: #333;
  display: flex;
  align-items: center;
  margin: 8px;
}

.recipe-tag-input {
  margin-right: 8px;
}

.recipe-tag-input:hover {
  cursor: pointer;
}

.recipe-tag-quantity {
  color: lightgray;
  font-size: 14px;
}

/* Media-queries */
@media screen and (max-width: 1330px) {
  .all-recipes {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 1070px) {
  .all-recipes {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 820px) {
  .all-recipes {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 590px) {
  .main-page {
    flex-direction: column;
  }

  .nav-bar {
    height: unset;
  }

  .header {
    font-size: 40px;
  }

  .recipe-card {
    margin: auto;
  }

  .all-recipes {
    order: 2;
  }

  .filter-section {
    order: 1;
    width: unset;
  }

  .filter-section form {
    display: flex;
    flex-flow: wrap;
  }
}
