/* COLOR PALETTE */
/* light grey:
grey: */

* {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

html,
body {
  margin: 0;
  height: 100%;
}

/* NAV BAR */
.nav-bar {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border-bottom: 3px solid #f0f0f0;
  background: white;
  position: sticky;
  top: 0;
  width: 100%;
}

.my-favorites,
.recipes-to-cook,
.filter-recipes, {
  margin: 10px;
  outline: none;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.recipes-to-cook:hover {
  border-bottom: 2px solid black;
}

.my-favorites:hover {
  border-bottom: 2px solid black;
}

/* HEADER */

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px 20px 0px;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 3px;
  margin: 0px;
}

h2 {
  font-size: 24px;
  font-style: italic;
  margin: 0px;
}

/* MAIN */

.main-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.all-recipes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(200px, 1fr) 1rem minmax(200px, 1fr) 1rem
      minmax(200px, 1fr) 1rem minmax(200px, 1fr);
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 1rem;
  }

/* RECIPE CARD */

.recipe-card {
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  height: 260px;
  width: 200px;
  margin: 50px;
}

.recipe-card-bottom {
  display: flex;
  justify-content: space-evenly;
}

.recipe-img {
  height: 200px;
  position: relative;
}

img {
  height: 40px;
}

.view-recipe-text {
  background-color: #f0f0f0;
  margin: 0px 0px 5px 0px;
  height: 60px;
}

/* ASIDE */

.filter-section {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 25px;
}

.recipe-tags {
  margin: 50px;
}

/* Media-queries */
@media screen and (max-width: 960px) {
  .all-recipes {
    -ms-grid-columns: (minmax(200px, 1fr)) [1];
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
